* {
     margin: 0;
}
  
html,body {
  height: 100%;
  background: #3AA6D0;
  background: -moz-linear-gradient(top, #1E5799 0%, #2989D8 50%, #7db9e8 100%); /* firefox */
  background: -webkit-gradient(linear, left 20deg top, left bottom, color-stop(0%,#1E5799), color-stop(50%,#2989D8), color-stop(100%,#7db9e8)); /* webkit */ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E5799', endColorstr='#7db9e8',GradientType=0 ); /* ie */
}


.content {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -42px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 42px
  text-align: center;
  //margin-bottom:10px;
  background: #a9e4f7; /* old browsers */
  background: -moz-linear-gradient(top, #a9e4f7 0%, #0fb4e7 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* webkit */ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* ie */
}

li {
  font-size:1.2em
}


ul#nav li a:hover,ul#nav li a:active {
  color: yellow;
  background: red;
}

#header {
position:relative;
width: 100%;
//background:#06799F;
margin-left:20px 
margin-bottom:15px;
text-align: left;
padding-left:12px;
border-radius: 15px;
font-size: 44px;
font-style: oblique;
font-weight: normal;
text-transform: normal;
letter-spacing: normal;
line-height: 1.3em;
//background: #1E5799; /* old browsers */
background: -moz-linear-gradient(top, #1E5799 0%, #2989D8 50%, #207cca 51%, #7db9e8 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E5799), color-stop(50%,#2989D8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* webkit */ 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E5799', endColorstr='#7db9e8',GradientType=0 ); /* ie */
}

#overlap {
  position:absolute;
  top:-50px;
  left:15px;
  z-index:1
}

h1 {
font-size:150%;
margin:10px;
}

#nav {
height:30px;
width:100%;
}

#nav ul {
color:#fff;
line-height:1.3em;
white-space:nowrap;
margin:0;
padding:0;
}

#nav li {
list-style:none;
display:inline;
float:left;
margin:0 0 10px 33px;
}

#nav li a {
text-decoration:none;
display:inline;
color:red;
padding:7px 10px;
z-index:2;
}

#nav li a  hover {
font-weight:700;
color:blue;
}

table.full {
    table-layout: fixed;
    overflow:hidden;
    word-wrap:break-word;
	  border: 1px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
}
table td { 
  padding:10px;
}
table th { background-color:#BCCEFD; }
table tr.even { background-color:#5EC4CD; }
table tr.odd { background-color:#61B4CF;}

.text {
  margin-left:75px;
  margin-right:75px;
  background-color:skyblue;
  border-radius: 15px;
}

.video {
  width:640px;
  margin-left:75px;
  margin-right:75px;
  background-color:skyblue;
  border-radius: 15px;
  padding:40px;
}

.text p,ul,h3 { margin-bottom:15px;margin-left:15px;margin-right:15px;}



