
<p id="notice"><%= notice %></p>

<div class="video">
  <div style="width:640px;height:480px;" id="vid">
    <%= show_video @video %>
  </div>
</div>
<div id="diditwork">
  <button id="played"> Played</button>
  <button id="notplayed"> Did not Play</button>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    console.log("I'm ready darling!");
       $("#played").click(function() { 
            $('#played').text('Thanks');
            $('#notplayed').fadeOut('slow', function() { });
            $.get("/stats/<%=@video.id%>/played",{});
            });
  $("#notplayed").click(function() { 
            $('#played').text('Thanks');
            $('#notplayed').fadeOut('slow', function() { });
            $.get("/stats/<%=@video.id%>}/notplayed",{});
            });


<% if @video.player == "flowplayer" %>
       flowplayer("player", "/flowplayer/flowplayer-3.2.5.swf");
       flowplayer("player", "/flowplayer/flowplayer-3.2.5.swf", {
       clip: { 
        autoPlay: true,
         onStart: function() {
         console.log('flowplayer started'); 
         this.unload();
         },
         onFinish: function() {
         console.log('flowplayer finished');
         }
         }
     });
<% else %>
       $('video').bind('play',function(){
          console.log('html5 video play');
        });
      $('video').bind('ended',function(){
          console.log('html5 video end');
        });
      
<% end %>
     });
 </script>


