<h3> Welcome to the about page</h3>
<div class="text">
  <p>
    <br/>
    This site was developed using Ruby on Rails V 3.0 <br/>
    You can find out more about ruby on rails at <a href="http://rubyonrails.org"> rubyonrails.org </a><br/>
    You can find out more about the sites author at <a href="http://georgeredinger.com"> GeorgeRedinger.com </a> 

   <br/> 
   <br/> 
  </p>
</div>
