<h3> Welcome to Secret Video</h3>
<div class="text">
  <br/>
  <p>
    This site demonstrates various  ways to deliver video with the Web
  </p>
  <p>
  <ul>
    <li> Deliver a video file local to the web server with the HTML5 video tag </li>
    <li> Deliver a video file local to the web server with the flowplayer flash video player </li>
    <li> Deliver a video file remote from the web server with the HTML5 video tag </li>
    <li> Deliver a video file remote from the web server with flowplayer </li>
    <li> Deliver a video file using Amazon S3 with a secret key with the HTML5 video tag </li>
    <li> Deliver a video file using Amazon S3 with a secret key with flowplayer </li>
    <li> Proxy a video file from Amazon S3 with flowplayer </li>
    <li> Proxy a video file from Amazon S3 with an HTML5 video tag </li>
    <li> Proxy a video file from Amazon S3 with a secret key  with flowplayer </li>
    <li> Proxy a video file from Amazon S3 with a secret key  with an HTML5 video tag </li>
  </ul>
</p>
<p>
  The source is available at http://github.com/gredinger
</p>  
  <br/>
</div> 

